<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503239520087-h5p91dtl04ui6pr1qe47m5ookjfmtior.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503239520087-h5p91dtl04ui6pr1qe47m5ookjfmtior</string>
	<key>API_KEY</key>
	<string>AIzaSyDICpRrAKphpc2-XerB0YoeKthWgj_PHEs</string>
	<key>GCM_SENDER_ID</key>
	<string>503239520087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-aeced</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-aeced.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503239520087:ios:dd4d67a3fc3638c36e9812</string>
</dict>
</plist>